.controls {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainbtns {
	margin: 20px !important;
	color: white !important;
	background-color: #2d545e !important;
}

.clearbtn {
	margin: 20px !important;
	color: white !important;
	background-color: #ff1515 !important;
}

.selectbtn {
	margin: 20px !important;
	color: white !important;
	background-color: #2d545e !important;
}

.title {
	margin: 5px !important;
	padding-top: 10px !important;
	color: white !important;
}

.navbar {
	height: 64px;
	background: #2d545e;
	border-bottom: solid black 2px;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #eee;
}

.loginbtn {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding: 15px !important;
	color: white !important;
	background-color: #2d545e !important;
}

.login-layout {
	height: 100%;
	padding: 30px;
	width: 450px !important;
}

.login-card {
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
}

.todo-layout {
	margin: 4px auto;
}

.todo-container {
	font-size: 2em;
	padding-top: 60px;
	padding-bottom: 60px;
}

.todo-data {
	display: flex;
	align-items: center;
	padding: 10px !important;
}
.todo-text {
	font-size: 20px;
	padding-left: 20px;
}
